/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
  background-image: linear-gradient(
    125deg,
    #d9e6f1,
    #dff8e9,
    #dcedf9,
    #f5edf8,
    #faf0f8
  );
  background-size: 400%;
  animation: bgmove 20s;
  animation-iteration-count: infinite;
}
/* 关键帧动画 */
@keyframes bgmove {
  /* 动画开始时关键帧 */
  0% {
    background-position: 0% 50%;
  }
  /* 动画进行到一半时的关键帧 */
  50% {
    background-position: 100% 50%;
  }
  /* 动画结束时关键帧 */
  100% {
    background-position: 0% 50%;
  }
}
#app {
  padding: 0px 20px;
  backdrop-filter: blur(15px);
  /* box-shadow: 0 0 10px #333; */
}
h2 {
  display: flex;
  align-items: center;
}
img {
  width: 40px;
  height: 40px;
  display: inline;
}


/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* .card {
  padding: 2em;
} */

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
